<div class="container">

    <div class="row">

        <div class="col-lg-12">
            <h1 class="page-header">Exec Board
            </h1>
            <ol class="breadcrumb">
                <li><a href="../index.html">Home</a>
                </li>
                <li class="active">About</li>
            </ol>
        </div>

    </div>

    <!-- Exec Profiles -->

    <div class="row">

        <div class="col-lg-12">
            <h2 class="page-header">Our Team</h2>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive" src="pics/lela.jpg" style="width:700px;height:350px;">

            <h3>Lela Bones
                <small>President</small>
            </h3>
            <p>Our fearless leader
            Dual (not double get it right) major in math and computer science
            Likes driving and eating cheese puffs
            Knows every professor and their mom
            </p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social facebook-link"><a href="#facebook-profile" data-toggle="tooltip"
                                                            data-placement="top" title="Facebook"><i
                        class="fa fa-facebook-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social linkedin-link"><a href="#linkedin-profile" data-toggle="tooltip"
                                                            data-placement="top" title="LinkedIn"><i
                        class="fa fa-linkedin-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social twitter-link"><a href="#twitter-profile" data-toggle="tooltip"
                                                           data-placement="top" title="Twitter"><i
                        class="fa fa-twitter-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social google-plus-link"><a href="#google-plus-profile" data-toggle="tooltip"
                                                               data-placement="top" title="Google+"><i
                        class="fa fa-google-plus-square fa-2x"></i></a>
                </li>
            </ul>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive" src="pics/jack.jpg" style="width:700px;height:350px;">

            <h3>Jack Stoetzel
                <small>Vice President</small>
            </h3>
            <p>Our fearless second-in-command
            Wizard of coding
            Basically a hibernating bear
            Has a beard now
            Frequents Buffalo Wild Wings
            Surprisingly is a fan of the Washington Redskins (HTTR)
            </p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social facebook-link"><a href="#facebook-profile" data-toggle="tooltip"
                                                            data-placement="top" title="Facebook"><i
                        class="fa fa-facebook-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social linkedin-link"><a href="#linkedin-profile" data-toggle="tooltip"
                                                            data-placement="top" title="LinkedIn"><i
                        class="fa fa-linkedin-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social twitter-link"><a href="#twitter-profile" data-toggle="tooltip"
                                                           data-placement="top" title="Twitter"><i
                        class="fa fa-twitter-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social google-plus-link"><a href="#google-plus-profile" data-toggle="tooltip"
                                                               data-placement="top" title="Google+"><i
                        class="fa fa-google-plus-square fa-2x"></i></a>
                </li>
            </ul>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive" src="pics/jackson.jpg" style="width:700px;height:350px;">

            <h3>Jackson Bellinger
                <small>Web Master</small>
            </h3>
            <p>Web design warrior
            Rare combination of outdoorsman and Computer Science major
            Needs 1 & ½ strings to player happy birthday on guitar
            Herbivore by choice
            Beard
            Rock climber, but loses to paper climber
            </p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social facebook-link"><a href="#facebook-profile" data-toggle="tooltip"
                                                            data-placement="top" title="Facebook"><i
                        class="fa fa-facebook-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social linkedin-link"><a href="#linkedin-profile" data-toggle="tooltip"
                                                            data-placement="top" title="LinkedIn"><i
                        class="fa fa-linkedin-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social twitter-link"><a href="#twitter-profile" data-toggle="tooltip"
                                                           data-placement="top" title="Twitter"><i
                        class="fa fa-twitter-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social google-plus-link"><a href="#google-plus-profile" data-toggle="tooltip"
                                                               data-placement="top" title="Google+"><i
                        class="fa fa-google-plus-square fa-2x"></i></a>
                </li>
            </ul>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive" src="pics/stephanie.jpg" style="width:700px;height:350px;">

            <h3>Stephanie Warman
                <small>Treasurer</small>
            </h3>
            <p>Puts our account in the red
            Only a double major in math and computer science
            Does not have a beard
            Retired tutor
            Joins clubs because Lela forces her
            </p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social facebook-link"><a href="#facebook-profile" data-toggle="tooltip"
                                                            data-placement="top" title="Facebook"><i
                        class="fa fa-facebook-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social linkedin-link"><a href="#linkedin-profile" data-toggle="tooltip"
                                                            data-placement="top" title="LinkedIn"><i
                        class="fa fa-linkedin-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social twitter-link"><a href="#twitter-profile" data-toggle="tooltip"
                                                           data-placement="top" title="Twitter"><i
                        class="fa fa-twitter-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social google-plus-link"><a href="#google-plus-profile" data-toggle="tooltip"
                                                               data-placement="top" title="Google+"><i
                        class="fa fa-google-plus-square fa-2x"></i></a>
                </li>
            </ul>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive" src="pics/will.png" style="width:700px;height:350px;">

            <h3>Willl Freeman
                <small>Secretary</small>
            </h3>
            <p>Secretary of this Club (The guy who sends you all the emails) AND SGA Rep. for the SU Indies
            Only member of exec board not a COSC Major (Information Systems)
            Frequently visits the IT Help Desk (Interpret as you will)
            All knowing oracle of all things Star Wars-related
            </p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social facebook-link"><a href="#facebook-profile" data-toggle="tooltip"
                                                            data-placement="top" title="Facebook"><i
                        class="fa fa-facebook-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social linkedin-link"><a href="#linkedin-profile" data-toggle="tooltip"
                                                            data-placement="top" title="LinkedIn"><i
                        class="fa fa-linkedin-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social twitter-link"><a href="#twitter-profile" data-toggle="tooltip"
                                                           data-placement="top" title="Twitter"><i
                        class="fa fa-twitter-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social google-plus-link"><a href="#google-plus-profile" data-toggle="tooltip"
                                                               data-placement="top" title="Google+"><i
                        class="fa fa-google-plus-square fa-2x"></i></a>
                </li>
            </ul>
        </div>

        <div class="col-sm-4">
            <img class="img-responsive" src="pics/preston.jpg" style="width:700px;height:350px;">

            <h3>Preston Mouw
                <small>SGA Rep</small>
            </h3>
            <p>Hype man for all the people Lela’s already talked to
            Computational Math and and Computer Science
            Plays Piano significantly better than nails on a chalkboard
            Can solve any rubix cube
            Challenge him to Smash, he’s a Bowser main
            </p>
            <ul class="list-unstyled list-inline list-social-icons">
                <li class="tooltip-social facebook-link"><a href="#facebook-profile" data-toggle="tooltip"
                                                            data-placement="top" title="Facebook"><i
                        class="fa fa-facebook-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social linkedin-link"><a href="#linkedin-profile" data-toggle="tooltip"
                                                            data-placement="top" title="LinkedIn"><i
                        class="fa fa-linkedin-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social twitter-link"><a href="#twitter-profile" data-toggle="tooltip"
                                                           data-placement="top" title="Twitter"><i
                        class="fa fa-twitter-square fa-2x"></i></a>
                </li>
                <li class="tooltip-social google-plus-link"><a href="#google-plus-profile" data-toggle="tooltip"
                                                               data-placement="top" title="Google+"><i
                        class="fa fa-google-plus-square fa-2x"></i></a>
                </li>
            </ul>
        </div>

    </div>

    <!-- add dr anderson and dr austin -->

    <div class="row">

        <div class="col-lg-12">
            <h2 class="page-header">Professors</h2>
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive img-customer" src="http://placehold.it/500x300">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive img-customer" src="http://placehold.it/500x300">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive img-customer" src="http://placehold.it/500x300">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive img-customer" src="http://placehold.it/500x300">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive img-customer" src="http://placehold.it/500x300">
        </div>

        <div class="col-md-2 col-sm-4 col-xs-6">
            <img class="img-responsive img-customer" src="http://placehold.it/500x300">
        </div>

    </div>

</div>
<!-- /.container -->
